@keyframes slide {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.placeholder {
  height: 100%;
  background: rgb(224, 224, 224) linear-gradient(
                  90deg,
                  rgba(255, 255, 255, 0) 10%,
                  rgba(255, 255, 255, 0.1) 20%,
                  rgba(255, 255, 255, 0.2) 25%,
                  rgba(255, 255, 255, 0.4) 30%,
                  rgba(255, 255, 255, 0.6) 37%,
                  rgba(255, 255, 255, 0) 40%
  );
  background-size: 200% 100%;
  animation: slide 2s linear infinite, fade-in 600ms ease-in-out;
}
