.label {
  font-weight: bold;
  font-size: 12px;
  + .label {
    transform: translateY(15px);
  }
}

.tooltip {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0.8;
  &Day {
    text-align: center;
    color: var(--gray);
    padding-bottom: 5px;
    text-transform: capitalize;
  }
}
