.label {
  font-weight: bold;
  font-size: 12px;
}

.value {
  font-weight: bold;
  font-size: 20px;
  transform: translateY(-12px);
}

.helpText {
  font-size: 12px;
  transform: translateY(12px);
  fill: var(--gray);
  + .helpText {
    transform: translateY(26px);
  }
}
