.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  width: 100px;

  > *:first-child {
    margin-top: auto;
  }
  > * + * {
    margin-top: 10px;
  }
}

.copyright {
  color: white;
  font-size: 12px;
  height: 100px;
  white-space: nowrap;
  transform: rotate(-90deg);
  line-height: 100px;
  margin-top: auto;
  margin-bottom: 70px;
}
