*,
::before,
::after {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1024px;
}

:root {
  --lightgray: #fbfbfb;
  --gray: #74798c;
  --border-radius: 5px;
  --dark: #020203;
}
