.header {
  color: white;
  background-color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
}

.navbar {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 5.5rem;
  padding: 0 60px 0 30px;
}

.logo {
  color: #e60000;
  > * {
    margin-right: 10px;
  }
}

.navItem {
  font-size: 22px;
  > * {
    vertical-align: middle;
  }
}
